#! /bin/ksh -l

  export TOTAL_TASKS=${TOTAL_TASKS:-1}
  export NCTSK=${NCTSK:-1}
  export NCNODE=${NCNODE:-24}
  #export OMP_NUM_THREADS_CH=${OMP_THREADS:-24}
  export OMP_NUM_THREADS_CH=${OMP_NUM_THREADS_CH:-${OMP_THREADS:-${OMP_NUM_THREADS:-24}}}
  export OMP_NUM_THREADS=${OMP_THREADS:-${OMP_NUM_THREADS:-24}}
  export KMP_STACKSIZE=1024m
  export KMP_AFFINITY=disabled

# WCOSS-cray definitions
  export APRUNS=${APRUNS:-"mpiexec   -n1 -ppn1"}
  export APRUNF=${APRUNF:-"mpiexec   -n ${TOTAL_TASKS} -N${NCTSK} -d${OMP_NUM_THREADS} cfp"}
  export APRUNC=${APRUNC:-"mpiexec   -n ${TOTAL_TASKS} -N${NCTSK} -d${OMP_NUM_THREADS} "}
  export APRUNO="time"
  export BACKGROUND=""
