

  export TOTAL_TASKS=${TOTAL_TASKS:-1824}

  export NCTSK=${NCTSK:-128}
  export NCNODE=${NCNODE:-128}
  export OMP_NUM_THREADS=${OMP_THREADS:-${OMP_NUM_THREADS:-1}}
#   export KMP_STACKSIZE=1024m
#   export KMP_AFFINITY=disabled

# WCOSS_cray definitions
  export APRUNS=${APRUNS:-"mpiexec   -n 1              -ppn 1        -d 1"}
  export APRUNF=${APRUNF:-"mpiexec   -n ${TOTAL_TASKS} -ppn ${NCTSK} -d${OMP_NUM_THREADS} cfp"}
  export APRUNC=${APRUNC:-"mpiexec   -n ${TOTAL_TASKS} -ppn ${NCTSK} -d${OMP_NUM_THREADS}"}

   echo in parm file with APRUNC as $APRUNC
  export APRUNO="time"
  export BACKGROUND=""
